# Coletar dados

In [1]:
import tweepy
import pandas as pd
import numpy as np
import requests as rq
import json

### Dados

In [2]:
data_twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
data_image_archive = pd.read_csv('image-predictions.tsv', "\t")

### Acesso a API

In [3]:
consumer_key = '-'
consumer_secret = '-'
access_token = '-'
access_secret = '-'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)


file = open("tweet_json.txt", "a+") 


for id in data_twitter_archive['tweet_id']:
    ''''
    try:
        twitter = api.get_status(id)
        rt = twitter['retweet_count']
        fv = twitter['favorite_count'] 
        file.write(str(id)+','+str(rt)+','+str(fv)+'\n')
    except Exception as erro:
        pass '''
    
file.close()

In [4]:
twitter_favorites_retweet = pd.read_csv('tweet_json.txt', names = ["tweet_id", "rt", "fv"])

# Avaliar dados

In [5]:
data_twitter_archive.info()
data_twitter_archive.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

- As colunas doggo, floofer, pupper, puppo são referrentes a estágio dos cachorros, esses dados devem ser agrupados em uma coluna.

- Timestamp está com o tipo de dado errado.

In [6]:
data_twitter_archive.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

- Os valores dos numeradores apresentam dados fora do normal

In [7]:
data_twitter_archive.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

- Os valores dos denominadores apresentam dados fora do normal

In [8]:
data_twitter_archive.name.value_counts()

None            745
a                55
Charlie          12
Cooper           11
Lucy             11
Oliver           11
Tucker           10
Lola             10
Penny            10
Bo                9
Winston           9
Sadie             8
the               8
Bailey            7
Daisy             7
Buddy             7
Toby              7
an                7
Leo               6
Dave              6
Stanley           6
Jax               6
Jack              6
Rusty             6
Koda              6
Milo              6
Oscar             6
Bella             6
Scout             6
Gus               5
               ...
Mingus            1
Maude             1
Holly             1
Pupcasso          1
incredibly        1
Combo             1
Colin             1
Kial              1
Julio             1
Buckley           1
this              1
Jaycob            1
Jarod             1
Aqua              1
Brooks            1
Rontu             1
Lambeau           1
Alexanderson      1
Mabel             1
Jiminus           1
Jomathan          1
Lucky             1
Sparky            1
Alexander         1
Snoopy            1
Scruffers         1
Snickers          1
Jessiga           1
Tiger             1
Angel             1
Name: name, Length: 957, dtype: int64

- Há nomes incorretos para os cachorros. Ex.: 'a', 'the', 'an' e 'None'. Os que se iniciam com em letra minuscula e o 'None'

In [9]:
data_image_archive.info()
data_image_archive.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True

- Há previsões que não são cachorros

In [10]:
twitter_favorites_retweet.info()
twitter_favorites_retweet.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2186 entries, 0 to 2185
Data columns (total 3 columns):
tweet_id    2186 non-null int64
rt          2186 non-null int64
fv          2186 non-null int64
dtypes: int64(3)
memory usage: 51.3 KB

             tweet_id    rt     fv
0  892420643555336193  8836  39455
1  892177421306343426  6475  33767
2  891815181378084864  4296  25427
3  891689557279858688  8915  42831
4  891327558926688256  9708  40978

- Não foi possível buscar as informações para todos os twitters do arquivo disponibilizado, assim o arquivo twitter_favorites_retweet possui menos linhas que o arquivo de data_twitter_archive.

## Qualidade
- Nomes de cachorros que estão incorretos. Ex.: 'a', 'the', 'an', 'None'
- Numerador e denominador possuem valores que fogem do padrão utilizado pela pagina WeRateDogs
- Há twits que são retweets e devem ser retirados, já que queremos somente os twitters originais
- A coluna timestamp, do arquivo data_twitter_archive apresenta o tipo de dado errado.
- Falta imagens para alguns twittes
- Falta os valores de retweets e favorite para alguns twitters
- Nas colunas  doggo, floofer, pupper, puppo 'None' não é tratado como null
- Estão faltando dados de expanded_urls, há somente 2297 valores.

## Arrumação
- No dataframe de twitters as colunas doggo, floofer, pupper, puppo devem ser agrupados em uma só coluna
- A coluna de rating deveria ser única e não dividida em duas (numerador e denominador)
- As tabelas deveriam fazer parte de um único dataset

# Limpar dados

In [11]:
clean_twitters_fv_rt = twitter_favorites_retweet.copy()
clean_twitter_archive = data_twitter_archive.copy()
clean_twitter_image = data_image_archive.copy()

### Definir
- Problema: Há twits que são retweets e devem ser retirados, já que queremos somente os twitters originais
- Resolução: Retirar registros de retweets e retirar colunas que se referem a eles retweeted_status_id, retweeted_status_user_id e retweeted_status_timestamp

### Código

In [12]:
clean_twitter_archive = clean_twitter_archive[clean_twitter_archive.retweeted_status_id.isnull()]
clean_twitter_archive=clean_twitter_archive.drop(['retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp'],axis=1)

### Testar

In [13]:
clean_twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 14 columns):
tweet_id                 2175 non-null int64
in_reply_to_status_id    78 non-null float64
in_reply_to_user_id      78 non-null float64
timestamp                2175 non-null object
source                   2175 non-null object
text                     2175 non-null object
expanded_urls            2117 non-null object
rating_numerator         2175 non-null int64
rating_denominator       2175 non-null int64
name                     2175 non-null object
doggo                    2175 non-null object
floofer                  2175 non-null object
pupper                   2175 non-null object
puppo                    2175 non-null object
dtypes: float64(2), int64(3), object(9)
memory usage: 254.9+ KB

### Definir
- Problema: As tabelas deveriam fazer parte de um único dataset, Falta imagens para alguns twittes, Falta os valores de retweets e favorite para alguns twitters e falta dados de expanded_urls, há somente 2297 valores.
- Solução: Unir os dataset em uma tabela, garantindo assim um dataset que possui twittes que possuem imagem e a contagem de retweets e favorites.

### Código

In [14]:
twitter_archive_master = pd.merge(clean_twitter_archive, clean_twitter_image, on='tweet_id', how='inner')
twitter_archive_master = pd.merge(twitter_archive_master, clean_twitters_fv_rt, on='tweet_id', how='inner')

### Testar

In [15]:
twitter_archive_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2136 entries, 0 to 2135
Data columns (total 27 columns):
tweet_id                 2136 non-null int64
in_reply_to_status_id    23 non-null float64
in_reply_to_user_id      23 non-null float64
timestamp                2136 non-null object
source                   2136 non-null object
text                     2136 non-null object
expanded_urls            2136 non-null object
rating_numerator         2136 non-null int64
rating_denominator       2136 non-null int64
name                     2136 non-null object
doggo                    2136 non-null object
floofer                  2136 non-null object
pupper                   2136 non-null object
puppo                    2136 non-null object
jpg_url                  2136 non-null object
img_num                  2136 non-null int64
p1                       2136 non-null object
p1_conf                  2136 non-null float64
p1_dog                   2136 non-null bool
p2                       2136 non-null object
p2_conf                  2136 non-null float64
p2_dog                   2136 non-null bool
p3                       2136 non-null object
p3_conf                  2136 non-null float64
p3_dog                   2136 non-null bool
rt                       2136 non-null int64
fv                       2136 non-null int64
dtypes: bool(3), float64(5), int64(6), object(13)
memory usage: 423.4+ KB

- Em alguns casos há mais de uma imagem para o cada tweet

### Definir
- Problema: No dataframe de twitters as colunas doggo, floofer, pupper, puppo representam o mesmo tipo de dado, nessas colunas o 'None' não é tratado como null 
- Solução: Criar uma coluna para receber esses valores e tratar 'None' como null

### Código

In [16]:
twitter_archive_master.doggo = twitter_archive_master.doggo.replace('None', '')
twitter_archive_master.floofer = twitter_archive_master.floofer.replace('None', '')
twitter_archive_master.pupper =  twitter_archive_master.pupper.replace('None', '')
twitter_archive_master.puppo = twitter_archive_master.puppo.replace('None', '')

twitter_archive_master.floofer.value_counts()
twitter_archive_master.pupper.value_counts()
twitter_archive_master.puppo.value_counts()

twitter_archive_master["estagio"] = twitter_archive_master.floofer.map(str)+twitter_archive_master.pupper.map(str) + twitter_archive_master.puppo.map(str)+twitter_archive_master.doggo.map(str)
twitter_archive_master.estagio = twitter_archive_master.estagio.replace('', np.nan)

twitter_archive_master = twitter_archive_master.drop(['doggo','floofer','pupper', 'puppo'],axis=1)

### Testar

In [17]:
twitter_archive_master.info()
twitter_archive_master.estagio.value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2136 entries, 0 to 2135
Data columns (total 24 columns):
tweet_id                 2136 non-null int64
in_reply_to_status_id    23 non-null float64
in_reply_to_user_id      23 non-null float64
timestamp                2136 non-null object
source                   2136 non-null object
text                     2136 non-null object
expanded_urls            2136 non-null object
rating_numerator         2136 non-null int64
rating_denominator       2136 non-null int64
name                     2136 non-null object
jpg_url                  2136 non-null object
img_num                  2136 non-null int64
p1                       2136 non-null object
p1_conf                  2136 non-null float64
p1_dog                   2136 non-null bool
p2                       2136 non-null object
p2_conf                  2136 non-null float64
p2_dog                   2136 non-null bool
p3                       2136 non-null object
p3_conf                  2136 non-null float64
p3_dog                   2136 non-null bool
rt                       2136 non-null int64
fv                       2136 non-null int64
estagio                  335 non-null object
dtypes: bool(3), float64(5), int64(6), object(10)
memory usage: 373.4+ KB

pupper          218
doggo            71
puppo            26
pupperdoggo      11
floofer           7
flooferdoggo      1
puppodoggo        1
Name: estagio, dtype: int64

- Há mais de classificação para os cachorros, para resolver esse problema iremos manter a primeira classificação

In [18]:
twitter_archive_master.estagio = twitter_archive_master.estagio.replace('pupperdoggo', 'pupper')
twitter_archive_master.estagio = twitter_archive_master.estagio.replace('flooferdoggo', 'floofer')
twitter_archive_master.estagio = twitter_archive_master.estagio.replace('puppodoggo', 'puppo')

In [19]:
twitter_archive_master.estagio.value_counts()

pupper     229
doggo       71
puppo       27
floofer      8
Name: estagio, dtype: int64

### Definir 
- Problema: A coluna timestamp, do arquivo data_twitter_archive apresenta o tipo de dado errado.
- Solução: Realizar um cast na coluna

### Código

In [20]:
twitter_archive_master.timestamp = pd.to_datetime(twitter_archive_master.timestamp)

### Testar

In [21]:
twitter_archive_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2136 entries, 0 to 2135
Data columns (total 24 columns):
tweet_id                 2136 non-null int64
in_reply_to_status_id    23 non-null float64
in_reply_to_user_id      23 non-null float64
timestamp                2136 non-null datetime64[ns]
source                   2136 non-null object
text                     2136 non-null object
expanded_urls            2136 non-null object
rating_numerator         2136 non-null int64
rating_denominator       2136 non-null int64
name                     2136 non-null object
jpg_url                  2136 non-null object
img_num                  2136 non-null int64
p1                       2136 non-null object
p1_conf                  2136 non-null float64
p1_dog                   2136 non-null bool
p2                       2136 non-null object
p2_conf                  2136 non-null float64
p2_dog                   2136 non-null bool
p3                       2136 non-null object
p3_conf                  2136 non-null float64
p3_dog                   2136 non-null bool
rt                       2136 non-null int64
fv                       2136 non-null int64
estagio                  335 non-null object
dtypes: bool(3), datetime64[ns](1), float64(5), int64(6), object(9)
memory usage: 373.4+ KB

### Definir 
- Problema: - Há nomes incorretos para os cachorros. Ex.: 'a', 'the', 'an' e 'None'. Os que se iniciam com em letra minuscula e o 'None'
- Solução: Subustituir dados incorretos por NaN

### Código

In [26]:
twitter_archive_master.name = twitter_archive_master.name.replace('None', np.NaN)

#usar lamba e regex para achar letras minusculas

data

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,...,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,rt,fv,estagio
50,881536004380872706,NaN,NaN,2017-07-02 15:32:16,"<a href=""http://twitter.com/download/iphone"" r...",Here is a pupper approaching maximum borkdrive...,https://twitter.com/dog_rates/status/881536004...,14,10,a,...,True,Angora,0.272066,False,Persian_cat,0.114854,False,16539,50290,pupper
522,792913359805018113,NaN,NaN,2016-10-31 02:17:31,"<a href=""http://twitter.com/download/iphone"" r...",Here is a perfect example of someone who has t...,https://twitter.com/dog_rates/status/792913359...,13,10,a,...,False,lighter,0.081941,False,switch,0.039009,False,4685,15991,NaN
660,772581559778025472,NaN,NaN,2016-09-04 23:46:12,"<a href=""http://twitter.com/download/iphone"" r...",Guys this is getting so out of hand. We only r...,https://twitter.com/dog_rates/status/772581559...,10,10,a,...,True,Border_collie,0.128352,True,Saint_Bernard,0.059476,True,1952,7162,NaN
840,747885874273214464,NaN,NaN,2016-06-28 20:14:22,"<a href=""http://twitter.com/download/iphone"" r...",This is a mighty rare blue-tailed hammer sherk...,https://twitter.com/dog_rates/status/747885874...,8,10,a,...,True,Samoyed,0.141330,True,pug,0.083018,True,1111,3218,NaN
842,747816857231626240,NaN,NaN,2016-06-28 15:40:07,"<a href=""http://twitter.com/download/iphone"" r...",Viewer discretion is advised. This is a terrib...,https://twitter.com/dog_rates/status/747816857...,4,10,a,...,True,Chihuahua,0.029053,True,Shetland_sheepdog,0.029035,True,1309,5314,NaN
851,746872823977771008,NaN,NaN,2016-06-26 01:08:52,"<a href=""http://twitter.com/download/iphone"" r...",This is a carrot. We only rate dogs. Please on...,https://twitter.com/dog_rates/status/746872823...,11,10,a,...,True,beagle,0.207835,True,Italian_greyhound,0.043565,True,2415,6552,NaN
877,743222593470234624,NaN,NaN,2016-06-15 23:24:09,"<a href=""http://twitter.com/download/iphone"" r...",This is a very rare Great Alaskan Bush Pupper....,https://twitter.com/dog_rates/status/743222593...,12,10,a,...,True,soft-coated_wheaten_terrier,0.182782,True,golden_retriever,0.087662,True,2150,6758,pupper
1024,717537687239008257,NaN,NaN,2016-04-06 02:21:30,"<a href=""http://twitter.com/download/iphone"" r...",People please. This is a Deadly Mediterranean ...,https://twitter.com/dog_rates/status/717537687...,11,10,a,...,True,Labrador_retriever,0.052511,True,kuvasz,0.049811,True,2057,6253,NaN
1034,715733265223708672,NaN,NaN,2016-04-01 02:51:22,"<a href=""http://twitter.com/download/iphone"" r...",This is a taco. We only rate dogs. Please only...,https://twitter.com/dog_rates/status/715733265...,10,10,a,...,True,miniature_poodle,0.081915,True,toy_poodle,0.063748,True,1906,5066,NaN
1153,704859558691414016,NaN,NaN,2016-03-02 02:43:09,"<a href=""http://twitter.com/download/iphone"" r...",Here is a heartbreaking scene of an incredible...,https://twitter.com/dog_rates/status/704859558...,10,10,a,...,True,teddy,0.156339,False,mitten,0.138915,False,608,2452,pupper
1163,704054845121142784,NaN,NaN,2016-02-28 21:25:30,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,https://twitter.com/dog_rates/status/704054845...,60,50,a,...,True,kuvasz,0.228764,True,golden_retriever,0.043885,True,1022,3190,NaN
1173,703079050210877440,NaN,NaN,2016-02-26 04:48:02,"<a href=""http://twitter.com/download/iphone"" r...",This is a Butternut Cumberfloof. It's not wind...,https://twitter.com/dog_rates/status/703079050...,11,10,a,...,True,Shetland_sheepdog,0.093834,True,Cardigan,0.060296,True,3476,8036,NaN
1180,702539513671897089,NaN,NaN,2016-02-24 17:04:07,"<a href=""http://twitter.com/download/iphone"" r...",This is a Wild Tuscan Poofwiggle. Careful not ...,https://twitter.com/dog_rates/status/702539513...,12,10,a,...,True,Shih-Tzu,0.040574,True,silky_terrier,0.032511,True,1083,3122,NaN
1193,700864154249383937,NaN,NaN,2016-02-20 02:06:50,"<a href=""http://twitter.com/download/iphone"" r...","""Pupper is a present to world. Here is a bow f...",https://twitter.com/dog_rates/status/700864154...,12,10,a,...,True,Great_Pyrenees,0.187272,True,Samoyed,0.003491,True,682,2816,pupper
1301,692187005137076224,NaN,NaN,2016-01-27 03:26:56,"<a href=""http://twitter.com/download/iphone"" r...",This is a rare Arctic Wubberfloof. Unamused by...,https://twitter.com/dog_rates/status/692187005...,12,10,a,...,True,malamute,0.119745,True,Eskimo_dog,0.029265,True,923,2754,NaN
1522,679530280114372609,NaN,NaN,2015-12-23 05:13:38,"<a href=""http://twitter.com/download/iphone"" r...",Guys this really needs to stop. We've been ove...,https://twitter.com/dog_rates/status/679530280...,7,10,a,...,True,jaguar,0.169007,False,zebra,0.006481,False,2334,5184,NaN
1568,677644091929329666,NaN,NaN,2015-12-18 00:18:36,"<a href=""http://twitter.com/download/iphone"" r...",This is a dog swinging. I really enjoyed it so...,https://twitter.com/dog_rates/status/677644091...,11,10,a,...,True,Italian_greyhound,0.128483,True,swing,0.059840,False,885,2028,NaN
1630,675706639471788032,NaN,NaN,2015-12-12 15:59:51,"<a href=""http://twitter.com/download/iphone"" r...",This is a Sizzlin Menorah spaniel from Brookly...,https://twitter.com/dog_rates/status/675706639...,10,10,a,...,True,Welsh_springer_spaniel,0.002080,True,cocker_spaniel,0.002014,True,106,689,NaN
1631,675534494439489536,NaN,NaN,2015-12-12 04:35:48,"<a href=""http://twitter.com/download/iphone"" r...",Seriously guys?! Only send in dogs. I only rat...,https://twitter.com/dog_rates/status/675534494...,11,10,a,...,True,schipperke,0.133738,True,Newfoundland,0.049914,True,468,1940,NaN
1656,675109292475830276,NaN,NaN,2015-12-11 00:26:12,"<a href=""http://twitter.com/download/iphone"" r...",C'mon guys. We've been over this. We only rate...,https://twitter.com/dog_rates/status/675109292...,9,10,a,...,True,English_setter,0.005258,True,German_short-haired_pointer,0.001443,True,1250,2989,NaN
1657,675047298674663426,NaN,NaN,2015-12-10 20:19:52,"<a href=""http://twitter.com/download/iphone"" r...",This is a fluffy albino Bacardi Columbia mix. ...,https://twitter.com/dog_rates/status/675047298...,11,10,a,...,True,chow,0.007121,True,Pomeranian,0.006398,True,362,1135,NaN
1699,674082852460433408,NaN,NaN,2015-12-08 04:27:30,"<a href=""http://twitter.com/download/iphone"" r...",This is a Sagitariot Baklava mix. Loves her ne...,https://twitter.com/dog_rates/status/674082852...,11,10,a,...,True,Shetland_sheepdog,0.028019,True,ski_mask,0.020683,False,185,800,NaN
1716,673715861853720576,NaN,NaN,2015-12-07 04:09:13,"<a href=""http://twitter.com/download/iphone"" r...",This is a heavily opinionated dog. Loves walls...,https://twitter.com/dog_rates/status/673715861...,4,10,a,...,False,bow_tie,0.294683,False,Windsor_tie,0.132701,False,2289,3790,NaN
1730,673636718965334016,NaN,NaN,2015-12-06 22:54:44,"<a href=""http://twitter.com/download/iphone"" r...",This is a Lofted Aphrodisiac Terrier named Kip...,https://twitter.com/dog_rates/status/673636718...,10,10,a,...,False,corn,0.019421,False,pug,0.019044,True,403,1188,NaN
1771,672604026190569472,NaN,NaN,2015-12-04 02:31:10,"<a href=""http://twitter.com/download/iphone"" r...",This is a baby Rand Paul. Curls for days. 11/1...,https://twitter.com/dog_rates/status/672604026...,11,10,a,...,True,miniature_poodle,0.178404,True,toilet_tissue,0.000291,False,440,1177,NaN
1812,671743150407421952,NaN,NaN,2015-12-01 17:30:22,"<a href=""http://twitter.com/download/iphone"" r...",This is a Tuscaloosa Alcatraz named Jacob (Yac...,https://twitter.com/dog_rates/status/671743150...,11,10,a,...,True,miniature_poodle,0.237067,True,swing,0.104193,False,243,773,NaN
1843,671147085991960577,NaN,NaN,2015-11-30 02:01:49,"<a href=""http://twitter.com/download/iphone"" r...",This is a Helvetica Listerine named Rufus. Thi...,https://twitter.com/dog_rates/status/671147085...,9,10,a,...,True,cairn,0.440122,True,silky_terrier,0.058690,True,250,710,NaN
1894,670427002554466305,NaN,NaN,2015-11-28 02:20:27,"<a href=""http://twitter.com/download/iphone"" r...",This is a Deciduous Trimester mix named Spork....,https://twitter.com/dog_rates/status/670427002...,9,10,a,...,False,toy_terrier,0.038872,True,beagle,0.003226,True,178,547,NaN
1903,670361874861563904,NaN,NaN,2015-11-27 22:01:40,"<a href=""http://twitter.com/download/iphone"" r...",This is a Rich Mahogany Seltzer named Cherokee...,https://twitter.com/dog_rates/status/670361874...,9,10,a,...,False,spotted_salamander,0.011068,False,bison,0.003897,False,71,343,NaN
1907,670303360680108032,NaN,NaN,2015-11-27 18:09:09,"<a href=""http://twitter.com/download/iphone"" r...",This is a Speckled Cauliflower Yosemite named ...,https://twitter.com/dog_rates/status/670303360...,9,10,a,...,True,Cardigan,0.342806,True,guinea_pig,0.156249,False,150,449,NaN
1925,669923323644657664,NaN,NaN,2015-11-26 16:59:01,"<a href=""http://twitter.com/download/iphone"" r...",This is a spotted Lipitor Rumpelstiltskin name...,https://twitter.com/dog_rates/status/669923323...,10,10,a,...,False,seat_belt,0.110289,False,wing,0.080148,False,62,248,NaN
1931,669661792646373376,NaN,NaN,2015-11-25 23:39:47,"<a href=""http://twitter.com/download/iphone"" r...",This is a brave dog. Excellent free climber. T...,https://twitter.com/dog_rates/status/669661792...,5,10,a,...,False,Siamese_cat,0.148263,False,hamster,0.116374,False,477,854,NaN
1939,669564461267722241,NaN,NaN,2015-11-25 17:13:02,"<a href=""http://twitter.com/download/iphone"" r...",This is a Coriander Baton Rouge named Alfredo....,https://twitter.com/dog_rates/status/669564461...,10,10,a,...,True,miniature_poodle,0.259920,True,standard_poodle,0.082530,True,132,409,NaN
1969,668955713004314625,NaN,NaN,2015-11-24 00:54:05,"<a href=""http://twitter.com/download/iphone"" r...",This is a Slovakian Helter Skelter Feta named ...,https://twitter.com/dog_rates/status/668955713...,10,10,a,...,True,Lakeland_terrier,0.272621,True,soft-coated_wheaten_terrier,0.067006,True,77,298,NaN
1976,668815180734689280,NaN,NaN,2015-11-23 15:35:39,"<a href=""http://twitter.com/download/iphone"" r...",This is a wild Toblerone from Papua New Guinea...,https://twitter.com/dog_rates/status/668815180...,7,10,a,...,True,Italian_greyhound,0.270733,True,miniature_pinscher,0.109752,True,290,608,NaN
1989,668614819948453888,NaN,NaN,2015-11-23 02:19:29,"<a href=""http://twitter.com/download/iphone"" r...",Here is a horned dog. Much grace. Can jump ove...,https://twitter.com/dog_rates/status/668614819...,7,10,a,...,False,pelican,0.100554,False,crane,0.084713,False,340,649,NaN
1995,668507509523615744,NaN,NaN,2015-11-22 19:13:05,"<a href=""http://twitter.com/download/iphone"" r...",This is a Birmingham Quagmire named Chuk. Love...,https://twitter.com/dog_rates/status/668507509...,10,10,a,...,True,Shetland_sheepdog,0.054322,True,whippet,0.051913,True,115,343,NaN
1999,668466899341221888,NaN,NaN,2015-11-22 16:31:42,"<a href=""http://twitter.com/download/iphone"" r...",Here is a mother dog caring for her pups. Snaz...,https://twitter.com/dog_rates/status/668466899...,4,10,a,...,False,hamper,0.363222,False,bassinet,0.084173,False,554,935,NaN
2012,668171859951755264,NaN,NaN,2015-11-21 20:59:20,"<a href=""http://twitter.com/download/iphone"" r...",This is a Trans Siberian Kellogg named Alfonso...,https://twitter.com/dog_rates/status/668171859...,7,10,a,...,True,cowboy_boot,0.060343,False,giant_panda,0.059838,False,207,521,NaN
2027,667861340749471744,NaN,NaN,2015-11-21 00:25:26,"<a href=""http://twitter.com/download/iphone"" r...",This is a Shotokon Macadamia mix named Cheryl....,https://twitter.com/dog_rates/status/667861340...,9,10,a,...,True,Siberian_husky,0.016168,True,Eskimo_dog,0.011277,True,84,253,NaN
2033,667773195014021121,NaN,NaN,2015-11-20 18:35:10,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a rare Hungarian Pinot named Jessiga. ...,https://twitter.com/dog_rates/status/667773195...,8,10,a,...,True,pug,0.093494,True,ice_bear,0.069038,False,61,243,NaN
2040,667538891197542400,NaN,NaN,2015-11-20 03:04:08,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a southwest Coriander named Klint. Hat...,https://twitter.com/dog_rates/status/667538891...,9,10,a,...,True,silky_terrier,0.300313,True,Australian_terrier,0.053412,True,72,218,NaN
2050,667470559035432960,NaN,NaN,2015-11-19 22:32:36,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a northern Wahoo named Kohl. He runs t...,https://twitter.com/dog_rates/status/667470559...,11,10,a,...,True,pug,0.223427,True,Lakeland_terrier,0.073316,True,102,272,NaN
2065,667177989038297088,NaN,NaN,2015-11-19 03:10:02,"<a href=""http://twitter.com/download/iphone"" r...",This is a Dasani Kingfisher from Maine. His na...,https://twitter.com/dog_rates/status/667177989...,8,10,a,...,True,Chesapeake_Bay_retriever,0.176293,True,Weimaraner,0.112369,True,58,200,NaN
2083,666983947667116034,NaN,NaN,2015-11-18 14:18:59,"<a href=""http://twitter.com/download/iphone"" r...",This is a curly Ticonderoga named Pepe. No fee...,https://twitter.com/dog_rates/status/666983947...,11,10,a,...,False,chain_saw,0.190142,False,wig,0.034510,False,1037,2664,NaN
2090,666781792255496192,NaN,NaN,2015-11-18 00:55:42,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Bacardi named Octaviath. Ca...,https://twitter.com/dog_rates/status/666781792...,10,10,a,...,True,Weimaraner,0.151363,True,vizsla,0.085989,True,209,401,NaN
2093,666701168228331520,NaN,NaN,2015-11-17 19:35:19,"<a href=""http://twitter.com/download/iphone"" r...",This is a golden Buckminsterfullerene named Jo...,https://twitter.com/dog_rates/status/666701168...,8,10,a,...,True,Chihuahua,0.029307,True,French_bulldog,0.020756,True,229,447,NaN
2106,666407126856765440,NaN,NaN,2015-11-17 00:06:54,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,https://twitter.com/dog_rates/status/666407126...,7,10,a,...,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True,43,113,NaN
2113,666293911632134144,NaN,NaN,2015-11-16 16:37:02,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,https://twitter.com/dog_rates/status/666293911...,3,10,a,...,False,otter,0.015250,False,great_grey_owl,0.013207,False,365,519,NaN
2127,666057090499244032,NaN,NaN,2015-11-16 00:55:59,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,https://twitter.com/dog_rates/status/666057090...,9,10,a,...,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True,146,304,NaN
2128,666055525042405380,NaN,NaN,2015-11-16 00:49:46,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,https://twitter.com/dog_rates/status/666055525...,10,10,a,...,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False,261,449,NaN
2130,666050758794694657,NaN,NaN,2015-11-16 00:30:50,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,https://twitter.com/dog_rates/status/666050758...,10,10,a,...,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True,60,136,NaN
2132,666044226329800704,NaN,NaN,2015-11-16 00:04:52,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,https://twitter.com/dog_rates/status/666044226...,6,10,a,...,True,redbone,0.360687,True,miniature_pinscher,0.222752,True,146,310,NaN
2133,666033412701032449,NaN,NaN,2015-11-15 23:21:54,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,https://twitter.com/dog_rates/status/666033412...,9,10,a,...,True,malinois,0.138584,True,bloodhound,0.116197,True,47,128,NaN
2134,666029285002620928,NaN,NaN,2015-11-15 23:05:30,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,https://twitter.com/dog_rates/status/666029285...,7,10,a,...,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True,48,132,NaN

# Armazenar dados

# Analisar dados